# Local .terraform directories
**/.terraform/*
.terraform/
*.tfvars
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

# log files
*.log

# Local overrides
local_override.tf
*_override.tf

# Sensitive variable files
*.auto.tfvars.local

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore keypairs directory
keys/
keys/*
