# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# log files
*.log


# Local overrides
local_override.tf
*_override.tf

# Sensitive variable files
*.auto.tfvars.local

# Ignore CLI configuration files
.terraformrc
terraform.rc
